<div class="page__container">
  <div class="sidebar__container">
    <product-feedback-app-heading-tile
      (mobileSideBarClick)="openMobileSideBar()"
    ></product-feedback-app-heading-tile>

    <product-feedback-app-chiplist-tile
      class="mobile-hide"
      [chipList]="chipList"
      (chipSelected)="onChipClick($event)"
    >
    </product-feedback-app-chiplist-tile>

    <product-feedback-app-roadmap-tile
      class="mobile-hide"
    ></product-feedback-app-roadmap-tile>
  </div>
  <main class="content__container">
    <product-feedback-app-header class="header">
      <img
        class="header__img"
        src="../../assets/icon-suggestions.svg"
        alt="suggestion icon"
      />
      <h2 class="header__heading">
        {{ (allSuggestions$ | async)?.length ?? 0 }} Suggestions
      </h2>

      <div class="header__sort" (click)="isMenuOpen = !isMenuOpen">
        <p class="body-2">Sort by: {{ menuItemSelected.title }}</p>
        <img
          *ngIf="menuItemSelected?.sortBy?.order === 'desc'"
          src="../../assets/icon-arrow-up.svg"
          alt="up arrow"
        />
        <img
          *ngIf="menuItemSelected?.sortBy?.order === 'asc'"
          src="../../assets/icon-arrow-down.svg"
          alt="down arrow"
        />
      </div>
      <product-feedback-app-menu
        class="menu"
        *ngIf="isMenuOpen"
        [menuItems]="menuItems"
        [itemSelected]="menuItemSelected"
        (menuItemClicked)="onMenuItemClick($event)"
      ></product-feedback-app-menu>
    </product-feedback-app-header>

    <product-feedback-app-suggestions-list
      [sortBy]="sortBy"
      [allSuggestions$]="allSuggestions$"
      (upVoteClick)="onUpVoteClick($event)"
      (suggestionSelectClick)="onSuggestionClick($event)"
    ></product-feedback-app-suggestions-list>
  </main>
</div>

<product-feedback-app-mobile-sidebar
  *ngIf="showMobileSidebar"
  class="mobile-sidebar"
  [chipList]="chipList"
  (chipSelected)="onChipClick($event)"
></product-feedback-app-mobile-sidebar>
