<div class="page__container">
  <div class="sidebar__container">
    <product-feedback-app-heading-tile></product-feedback-app-heading-tile>

    <product-feedback-app-chiplist-tile
      *ngIf="resize.resizeObs$ | async"
      [chipList]="chipList"
      (chipSelected)="onChipClick($event)"
    >
    </product-feedback-app-chiplist-tile>

    <product-feedback-app-tile *ngIf="resize.resizeObs$ | async">
      <div class="roadmap__container">
        <div class="roadmap__heading-container">
          <h3 class="roadmap__heading">Roadmap</h3>
          <a routerLink="road-map" class="roadmap__view-text body-3">View</a>
        </div>
        <div class="roadmap__content">
          <div class="roadmap__item">
            <p>Planned</p>
            <span class="number">{{
              (plannedSuggestions$ | async)?.length
            }}</span>
          </div>

          <div class="roadmap__item roadmap__item--in-progress">
            <p>In-Progress</p>
            <span class="number">{{
              (inProgressSuggestions$ | async)?.length
            }}</span>
          </div>

          <div class="roadmap__item roadmap__item--live">
            <p>Live</p>
            <span class="number">{{ (liveSuggestions$ | async)?.length }}</span>
          </div>
        </div>
      </div>
    </product-feedback-app-tile>
  </div>
  <main class="content__container">
    <product-feedback-app-header class="header">
      <ng-container *ngIf="resize.resizeObs$ | async">
        <img src="../../assets/icon-suggestions.svg" alt="suggestion icon" />
        <h2>{{ (allSuggestions$ | async)?.length ?? 0 }} Suggestions</h2>
      </ng-container>
      <div class="header__sort" (click)="isMenuOpen = !isMenuOpen">
        <p class="body-2">Sort by: {{ menuItemSelected.title }}</p>
        <img
          *ngIf="menuItemSelected?.sortBy?.order === 'desc'"
          src="../../assets/icon-arrow-up.svg"
          alt="up arrow"
        />
        <img
          *ngIf="menuItemSelected?.sortBy?.order === 'asc'"
          src="../../assets/icon-arrow-down.svg"
          alt="down arrow"
        />
      </div>
    </product-feedback-app-header>
    <product-feedback-app-suggestions-list
      [sortBy]="sortBy"
      [allSuggestions$]="allSuggestions$"
      (upVoteClick)="onUpVoteClick($event)"
      (suggestionSelectClick)="onSuggestionClick($event)"
    ></product-feedback-app-suggestions-list>
  </main>
</div>

<product-feedback-app-menu
  *ngIf="isMenuOpen"
  [menuItems]="menuItems"
  [itemSelected]="menuItemSelected"
  (menuItemClicked)="onMenuItemClick($event)"
></product-feedback-app-menu>
