<product-feedback-app-header class="header">
  <div class="heading__container">
    <product-feedback-app-back-button> </product-feedback-app-back-button>

    <h1>Roadmap</h1>
  </div>
</product-feedback-app-header>

<div class="grid__container">
  <div *ngIf="plannedSuggestions$ | async as planned">
    <h3 class="roadmap__heading">Planned ({{ planned.length }})</h3>
    <p class="body-2 roadmap__subtitle">Ideas prioritized for research</p>
    <product-feedback-app-road-map-card
      *ngFor="let suggestion of planned"
      [suggestion]="suggestion"
    ></product-feedback-app-road-map-card>
  </div>
  <div *ngIf="inProgressSuggestions$ | async as inProgress">
    <h3 class="roadmap__heading">In-Progress ({{ inProgress.length }})</h3>
    <p class="body-2 roadmap__subtitle">Currently being developed</p>
    <product-feedback-app-road-map-card
      class="inprogress-cards"
      *ngFor="let suggestion of inProgress"
      [suggestion]="suggestion"
    ></product-feedback-app-road-map-card>
  </div>
  <div *ngIf="liveSuggestions$ | async as live">
    <h3 class="roadmap__heading">Live ({{ live.length }})</h3>

    <p class="body-2 roadmap__subtitle">Released features</p>
    <product-feedback-app-road-map-card
      class="live-cards"
      *ngFor="let suggestion of live"
      [suggestion]="suggestion"
    ></product-feedback-app-road-map-card>
  </div>
</div>
