<div class="select__container">
  <div
    class="select"
    (click)="openMenu()"
    [ngClass]="{ 'select--active': isMenuOpen }"
  >
    <span>{{ menuItemSelected?.title | titlecase }}</span>
    <img
      src="../../../assets/icon-arrow-down.svg"
      alt="dropdown arrow"
      [@arrowRotate]="isMenuOpen ? 'up' : 'down'"
    />
  </div>
  <product-feedback-app-menu
    *ngIf="isMenuOpen"
    [menuItems]="menuItems"
    [itemSelected]="menuItemSelected"
    (menuItemClicked)="onMenuItemClick($event)"
  ></product-feedback-app-menu>
</div>
