<div class="navigation__buttons">
  <button class="button__back" (click)="onBackButtonClick()">
    <img src="../../assets/icon-arrow-left.svg" alt="back icon" />
    <h4 class="heading">Go Back</h4>
  </button>
  <product-feedback-app-button [style]="'secondary'"
    >Edit Feedback</product-feedback-app-button
  >
</div>

<product-feedback-app-suggestion-list-item
  (upVoteClick)="onUpVoteClick($event)"
  [suggestion]="selectedSuggestion$ | async"
></product-feedback-app-suggestion-list-item>

<div class="comment__container">
  <h3 class="comment__heading">
    {{ (selectedSuggestion$ | async)?.comments?.length }} Comments
  </h3>
  <product-feedback-app-suggestion-comment
    *ngFor="
      let comment of (selectedSuggestion$ | async)?.comments;
      let i = index
    "
    [ngClass]="{
      'comment--border':
        (selectedSuggestion$ | async)!.comments!.length > 1 &&
        i !== (selectedSuggestion$ | async)!.comments!.length - 1
    }"
    [comment]="comment"
    (newReply)="onNewReply($event)"
  ></product-feedback-app-suggestion-comment>
</div>

<form
  class="comment__form"
  [formGroup]="commentForm"
  (ngSubmit)="onSubmitComment()"
>
  <div class="comment__form-header">
    <h3 class="comment__form-header-text">Add Comment</h3>
  </div>

  <div class="comment__form-content">
    <textarea formControlName="comment" maxlength="255"></textarea>
    <p class="comment__remaining body-2">
      {{ 255 - commentForm.comment.value.length }} characters left
    </p>
    <product-feedback-app-button class="button__submit"
      ><span class="button__text"
        >Post Comment</span
      ></product-feedback-app-button
    >
  </div>
</form>
