.navigation__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  color: #647196;
}

.heading:hover {
  text-decoration: underline;
}

.button__back {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.comment__container {
  display: flex;
  margin-block: 1.5rem;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 10px;
  flex-direction: column;
}

.comment__heading {
  color: #3a4374;
}

.comment--border {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}
